---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
---
<!doctype html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>GPdI Haleluya - Bertumbuh dalam Iman, Melayani dengan Kasih</title>
		<meta name="description" content="GPdI Haleluya - Bertumbuh dalam Iman, Melayani dengan Kasih. Jadwal ibadah, informasi lokasi, dan komunitas gereja." />
	</head>
	<body class="bg-gray-50">
		<Navbar />
		<main class="pt-16">
			<slot />
		</main>
	</body>
</html>
